/* 
Pokemon Colors
Red: rgb(255,0,0)
Boston Red: rgb(204,0,0)
Cerulean Blue: rgb(59,76,202)
Golden Yellow: rgb(255,222,0)
Gold Foil: rgb(179,161,37)

Font: https://fonts.googleapis.com/css?family=Sigmar+One


*/

body {
  margin: 0;
  font-family: 'Sigmar One', cursive;
}

.largestContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(245,245,245);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.container > h1 {
  color: rgb(255,222,0);
  text-shadow:
		-1px -1px 0 rgb(59,76,202),
		1px -1px 0 rgb(59,76,202),
		-1px 1px 0 rgb(59,76,202),
		1px 1px 0 rgb(59,76,202);
}

.pokeTile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 32.135%;
  height: 15%;
  font-size: 24px;
  text-align: center;
  margin: .60%;
  text-decoration: none;
  background: rgb(245,245,245);
  box-shadow: -1px 1px 3px black;
  border-radius: 6px;

  color: rgb(255,222,0);
  text-shadow:
		-1px -1px 0 rgb(59,76,202),
		1px -1px 0 rgb(59,76,202),
		-1px 1px 0 rgb(59,76,202),
		1px 1px 0 rgb(59,76,202);
}

.pokeTile:hover {
  transition: all .2s linear;

  color: rgb(179,161,37);
  text-shadow:
		-1px -1px 0 rgb(0,0,0),
		1px -1px 0 rgb(0,0,0),
		-1px 1px 0 rgb(0,0,0),
		1px 1px 0 rgb(0,0,0);
}

.pokeDisplay {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  overflow-y: scroll;
  width: 75%;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 3px solid rgb(204,0,0);
  box-shadow: -2px 2px 3px black;
  background-color: rgb(204,0,0);
}

.pokeDetail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 75%;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 3px solid rgb(204,0,0);
  box-shadow: -2px 2px 3px black;
  background-color: rgb(204,0,0);
}

.pokeDetail > .poke {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
  width: 40%;
}

.pokeDetail > .poke > img {
  width: 100%;
}

.pokeDetail > .title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.pokeDetail > .title > h1 {
  color: rgb(255,222,0);
  font-size: 32px;
  text-shadow:
		-1px -1px 0 rgb(59,76,202),
		1px -1px 0 rgb(59,76,202),
		-1px 1px 0 rgb(59,76,202),
		1px 1px 0 rgb(59,76,202);
}

.pokeDetail > .title > p {
  color: rgba(245,245,245, .9);
  font-size: 16px;
}

.pokeDetail > .title > .detailBtns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.pokeDetail > .title > div > .detailBtn {
  width: 30%;
  align-self: center;
  font-size: 18px;
  font-family: 'Sigmar One', cursive;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  background: rgba(245,245,245, .9);
  box-shadow: -1px 1px 3px black;
  border-radius: 6px;

  color: rgb(255,222,0);
  text-shadow:
		-1px -1px 0 rgb(59,76,202),
		1px -1px 0 rgb(59,76,202),
		-1px 1px 0 rgb(59,76,202),
		1px 1px 0 rgb(59,76,202);
}

.pokeDetail > .title > div > .detailBtn:hover {
  transition: all .2s linear;
  cursor: pointer;

  color: rgb(179,161,37);
  text-shadow:
		-1px -1px 0 rgb(0,0,0),
		1px -1px 0 rgb(0,0,0),
		-1px 1px 0 rgb(0,0,0),
		1px 1px 0 rgb(0,0,0);
}

.pokeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: .25%;
  background-color: rgba(245,245,245, .9);
  box-shadow: -2px 2px 3px black;
  color: rgb(255,222,0);
  text-shadow:
		-1px -1px 0 rgb(59,76,202),
		1px -1px 0 rgb(59,76,202),
		-1px 1px 0 rgb(59,76,202),
    1px 1px 0 rgb(59,76,202);
  text-decoration: none;
  font-size: 18px;

  width: 17.5%;
  height: 50%;
  margin: 1%;
  border-radius: 6px;
}

.pokeCard > img {
  padding-top: 5%;
  width: 100%;
}

.pokeCard:hover {
  transition: all .2s linear;

  color: rgb(179,161,37);
  text-shadow:
		-1px -1px 0 rgb(0,0,0),
		1px -1px 0 rgb(0,0,0),
		-1px 1px 0 rgb(0,0,0),
		1px 1px 0 rgb(0,0,0);
}


header, footer {
  display: inline-block;
  background-color: rgb(204,0,0);
  height: 8vh;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

header {
  padding: 5px 20px;
  font-size: 28px;
  width: 100vw;
  
}

header > div {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

header > div > a {
  text-decoration: none;

  color: rgb(255,222,0);
  text-shadow:
		-1px -1px 0 rgb(59,76,202),
		1px -1px 0 rgb(59,76,202),
		-1px 1px 0 rgb(59,76,202),
		1px 1px 0 rgb(59,76,202);
}

header > div > a:hover {
  transition: all .2s linear;

  color: rgb(179,161,37);
  text-shadow:
		-1px -1px 0 rgb(0,0,0),
		1px -1px 0 rgb(0,0,0),
		-1px 1px 0 rgb(0,0,0),
		1px 1px 0 rgb(0,0,0);
}

.searchCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  align-items: center;
}

.searchCont > input {
  width: 60%;
  font-size: 24px;
  font-family: 'Sigmar One', cursive;
  border-radius: 6px;
  background-image: url('./pokeball.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 5px;
  padding-left: 40px;
}

.searchCont > h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;

  color: rgb(255,222,0);
  text-shadow:
		-1px -1px 0 rgb(59,76,202),
		1px -1px 0 rgb(59,76,202),
		-1px 1px 0 rgb(59,76,202),
		1px 1px 0 rgb(59,76,202);
}

@media only screen and (max-width: 768px) {
  header {
    font-size: 18px;
    padding: 0;
  }

  footer {
    font-size: 10px;
    padding-left: 5px;
  }

  .container {
    height: 80vh;
  }

  header > div {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .searchCont > h1 {
    font-size: 40px;
  }

  .searchCont > input {
    font-size: 18px;
    width: 100%;
  }

  .pokeTile {
    width: 100%;
  }

  .pokeDetail {
    flex-direction: column;
    height: 55vh;
    margin: 0;
    padding: 0;
  }
  
  .pokeDetail > .poke {
    width: 100%;
  }
  
  .pokeDetail > .poke > img {
    width: 50%;
  }
  
  .pokeDetail > .title {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  
  .pokeDetail > .title > h1 {
    font-size: 28px;
    align-self: center;
  }
  
  .pokeDetail > .title > p {
    font-size: 17px;
  }
  
  
  .pokeDetail > .title > div > .detailBtn {
    width: 43%;
    font-size: 16px;
  }

  .pokeCard {
    padding: .25%;
    font-size: 20px;
  
    width: 100%;
    height: 50%;
    margin: 1.5%;
    border-radius: 6px;
  }
  
  .pokeCard > img {
    padding-top: 5%;
    width: 100%;
  }

  .container > h1 {
    font-size: 24px;
  }
  
}
