* {
    box-sizing: border-box;
    font-size: 0px;
}

.top {
    background: #F5C6D6;
    height: 150px;
    width: auto;
    border: 5px solid white;
    display: block;
}

.four {
    background: #EE2E84;
    height: 150px;
    display: inline-block;
    width: 25%;
    border: 5px solid white;
}

.two {
    background: #85CFD8;
    height: 150px;
    display: inline-block;
    width: 50%;
    border: 5px solid white;
}

.offset {
    height: 150px;
    display: inline-block;
    border: 5px solid white;
}

.first {
    width: 66.66%;
    background: #8DC63F;
}

.second {
    width: 33.33%;
    background: #E76E34;
}