.container {
    /* give the container display grid */
    display: grid;
    /* with six rows, 50px high */
    grid-template-rows: repeat(6, 50px);
    /* default all cells/children on the left be 2/3 the screen width, and all on the left 1/3 */
    grid-template-columns: 2fr 1fr;
}

.container > div {
    border: solid black 2px;
}

.authors {
    background-color: lightcoral
}
.links {
    background-color: lightpink
}

.footer {
    /* make these span the width of the page */
    grid-column: 1 / -1;
    background-color: aquamarine;
}

@media (max-width: 900px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    .authors {
         grid-row: 9;
    }
    .links {
        grid-row: 10;
    }
    /* container could use some help so that it's children are full screen width */
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 50px);
    }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}