* {
    box-sizing: border-box;
}

body {
    background-image: url("assets/blake-connally-B3l0g6HLxr8-unsplash.jpg");
    background-size: 100%;
    background-attachment: fixed;
    font-family: Roboto, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.buttons > a {
    color: white;
    height: 30%;
}

a:hover {
    font-size: 1.1em;
}

.logo {
    color: white;
    width: 20%;

}

.logo > h1 {
    display: flex;
    justify-content: space-around;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    font-size: 32px;
}
