.title {
    text-align: center;
}

*:focus{
    outline: none;
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(to right, lightblue, lightgreen);
}

.main {
    border: 2px solid black;
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

#addItem {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
    box-sizing: border-box;
}

#addItem:hover{
    background-color: lightgreen
}

#addTodo {
    border-bottom: 2px solid black;
    padding: 10px 20px 5px 20px;

}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    margin: 10px;
}

#list {
    display: flex;
    flex-direction: column;
}

#list > li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-right: 3vw;
    border-bottom: 1px solid black;
    font-size: 24px;
}

.delete {
    width: 5vw;
    font-size: 20px;
    border: none;
}

.delete:hover {
    background-color: red;
    color: white;
}



