header {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
  background-color: lightgray;
}

h1 {
  width: 50%;
  text-align: center;
}

button {
  width: 200px;
  height: 100px;
  font-size: 36px;
}

footer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  
}

.dark-theme {
  background:midnightblue;
  color: whitesmoke;
}

.light-theme {
  background: lightblue;
  color: black;
}
