.badge {
  border: 2px solid black;
  border-radius: 15px;
  width: 60vw;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 20px;
}

.about {
  width: 80%;
  height: 75px;
  border: 2px solid black;
}

.badgeHeader {
  border: 2px solid black;
  border-radius: 15px;
  width: 60vw;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  width: 50%;
}

h2 {
  font-size: 16px;
}

textarea {
  width: 80%;
  height: 75px;
  border: 2px solid black;
  margin: 10px;
}

input {
  padding-left: 10px;
  height: 30px;
  width: 40%;
  border: 2px solid black;
  margin: 10px;
}

.button {
  padding-left: 10px;
  height: 30px;
  width: 40%;
  border: 2px solid black;
}

.flexCont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}